.scrolltable {  
    height: 500px;
    overflow-y: auto;
    cursor: pointer;
}
.input-append, .input-prepend {
    margin-bottom: 0px;
    height: 30px;
}
.copy_image{
    cursor: pointer;
}
/* 
    Добавляем класс hint к элементу, у которого хотим выводить подсказку. 
    В аттрибуте data-title указываем текст подсказки 
*/

.hint{
    position: relative;
}

.hint:hover::after{
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 10px; right: 0; top: 35px; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,255,0.6); /* Полупрозрачный цвет фона */
    color: rgb(85, 85, 85); /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid rgba(82, 168, 236, 0.8); /* Параметры рамки */
    border-radius: 4px 4px 4px 4px; /* Скругленные углы*/
    -moz-box-border-radius: 4px 4px 4px 4px;
    -webkit-box-border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6); /* Тень*/
    -moz-box-shadow: 0px 0px 8px rgba(82, 168, 236, 0.6); /* для Firefox 3.5+ */
    -webkit-box-shadow: 0px 0px 8px rgba(82, 168, 236, 0.6); /* для Safari и Chrome */
    width: 200px; /* Ширина */
}
.prev-next-buttons {
    margin-bottom: 20px;
}
.left-button {
    padding-left: 29px;
}
.center-info {
    text-align: center;
}
.center-info p{
    margin: 5px 0;
}